Updates/Updates.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SuperGrate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Settings">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Redirect">
                <xs:complexType>
                  <xs:attribute name="RedirectURL" type="xs:string" use="required" />
                  <xs:attribute name="UpdaterVersion" type="xs:integer" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Updates">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Update">
                <xs:complexType>
                  <xs:attribute name="Version" type="xs:string" use="required" />
                  <xs:attribute name="DateTime" type="xs:dateTime" use="required" />
                  <xs:attribute name="BuildHash" type="xs:string" use="required" />
                  <xs:attribute name="Channel" type="xs:string" use="required" />
                  <xs:attribute name="DownloadURL" type="xs:string" use="required" />
                  <xs:attribute name="ReleaseURL" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="UpdaterVersion" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>